.form-select {
    border-radius: 56px;
    height: 50px;
    border: 2px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.form-control{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


#signupForm{
    border: 2px solid grey;
    margin-top: 25px;
    padding-bottom: 25px;
    padding: 25px;
    border-radius: 35px;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
h2{
    text-align: center;
}