.form-control{
    border-radius: 15px;
    display: flex;
    padding: 10px;
    field-sizing: content;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
}

h2{
    text-align: center;
}

.form-select {
    border-radius: 15px;
    height: 50px;
    border: 2px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

#uploadForm{
    margin: auto;
    width: 70%;
    border: 2px solid grey;
    padding: 30px;
    padding-top: 5px;
    border-radius: 35px;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}